@font-face {
  font-family: "reflexis";
  src: url("https://raw.githubusercontent.com/zebrafed/ZDS-Flutter/main/assets-for-api-docs/fonts/reflexis.ttf?9yjfsl")
      format("truetype"),
    url("https://raw.githubusercontent.com/zebrafed/ZDS-Flutter/main/assets-for-api-docs/fonts/reflexis.woff?9yjfsl")
      format("woff"),
    url("https://raw.githubusercontent.com/zebrafed/ZDS-Flutter/main/assets-for-api-docs/fonts/reflexis.svg?9yjfsl#reflexis")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "reflexis" !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rflx-action:before {
  content: "\e9ad";
}
.rflx-add:before {
  content: "\e903";
}
.rflx-add-link:before {
  content: "\e901";
}
.rflx-add-task:before {
  content: "\e94c";
}
.rflx-add-user:before {
  content: "\e902";
}
.rflx-attachment:before {
  content: "\e904";
}
.rflx-audio:before {
  content: "\e9af";
}
.rflx-audio-file:before {
  content: "\e900";
}
.rflx-back:before {
  content: "\e905";
}
.rflx-break_:before {
  content: "\e9b0";
}
.rflx-broadcast:before {
  content: "\e9b1";
}
.rflx-building:before {
  content: "\e9b2";
}
.rflx-calendar:before {
  content: "\e9be";
}
.rflx-calendar-3-day:before {
  content: "\e9b3";
}
.rflx-calendar-available:before {
  content: "\e9b4";
}
.rflx-calendar-day:before {
  content: "\e9b5";
}
.rflx-calendar-edit:before {
  content: "\e9b6";
}
.rflx-calendar-month:before {
  content: "\e9b7";
}
.rflx-calendar-rollover:before {
  content: "\e9b8";
}
.rflx-calendar-today:before {
  content: "\e9b9";
}
.rflx-calendar-trade:before {
  content: "\e9ba";
}
.rflx-calendar-unavailable:before {
  content: "\e9bb";
}
.rflx-calendar-week:before {
  content: "\e9bc";
}
.rflx-calendar-year:before {
  content: "\e9bd";
}
.rflx-call:before {
  content: "\e9bf";
}
.rflx-camera:before {
  content: "\e95d";
}
.rflx-camera-switch:before {
  content: "\e95c";
}
.rflx-category:before {
  content: "\e906";
}
.rflx-certified:before {
  content: "\e9c0";
}
.rflx-channel:before {
  content: "\e907";
}
.rflx-chat:before {
  content: "\e9c7";
}
.rflx-chat-bot:before {
  content: "\e9c1";
}
.rflx-chat-message:before {
  content: "\e9c5";
}
.rflx-chat-message-read:before {
  content: "\e9c2";
}
.rflx-chat-search:before {
  content: "\e9c6";
}
.rflx-chat-unread-active:before {
  content: "\e909";
}
.rflx-check:before {
  content: "\e90b";
}
.rflx-check-circle:before {
  content: "\e90a";
}
.rflx-chevron-down:before {
  content: "\e90c";
}
.rflx-chevron-left:before {
  content: "\e90d";
}
.rflx-chevron-right:before {
  content: "\e90e";
}
.rflx-chevron-up:before {
  content: "\e90f";
}
.rflx-clear:before {
  content: "\e963";
}
.rflx-clipboard:before {
  content: "\e945";
}
.rflx-clock:before {
  content: "\e9d8";
}
.rflx-clock-available:before {
  content: "\e9c8";
}
.rflx-clock-bid:before {
  content: "\e9ca";
}
.rflx-clock-edit:before {
  content: "\e9cc";
}
.rflx-clock-flexible:before {
  content: "\e9cd";
}
.rflx-clock-in-progress:before {
  content: "\e9ce";
}
.rflx-clock-info:before {
  content: "\e9cf";
}
.rflx-clock-missed:before {
  content: "\e9d0";
}
.rflx-clock-on:before {
  content: "\e9d1";
}
.rflx-clock-rollover:before {
  content: "\e9d2";
}
.rflx-clock-segment:before {
  content: "\e9d3";
}
.rflx-clock-start:before {
  content: "\e9d4";
}
.rflx-clock-stop:before {
  content: "\e9d5";
}
.rflx-clock-switch:before {
  content: "\e9d6";
}
.rflx-clock-timer:before {
  content: "\e9d7";
}
.rflx-close:before {
  content: "\e910";
}
.rflx-close-circle:before {
  content: "\e944";
}
.rflx-cloud-download:before {
  content: "\e9d9";
}
.rflx-cloud-upload:before {
  content: "\e9da";
}
.rflx-complaint:before {
  content: "\e911";
}
.rflx-copy:before {
  content: "\e966";
}
.rflx-dashboard:before {
  content: "\e967";
}
.rflx-delete:before {
  content: "\e913";
}
.rflx-details:before {
  content: "\e914";
}
.rflx-dialpad:before {
  content: "\e9db";
}
.rflx-download:before {
  content: "\e9dc";
}
.rflx-edit:before {
  content: "\e916";
}
.rflx-edit-redo:before {
  content: "\e968";
}
.rflx-edit-undo:before {
  content: "\e969";
}
.rflx-email:before {
  content: "\e9e0";
}
.rflx-email-forward:before {
  content: "\e9dd";
}
.rflx-email-reply:before {
  content: "\e9df";
}
.rflx-email-reply-all:before {
  content: "\e9de";
}
.rflx-ess:before {
  content: "\e950";
}
.rflx-eye-preview:before {
  content: "\e96a";
}
.rflx-eye-view:before {
  content: "\e96b";
}
.rflx-file-archive-o:before {
  content: "\f1c6";
}
.rflx-file-audio-o:before {
  content: "\f1c7";
}
.rflx-file-code-o:before {
  content: "\f1c9";
}
.rflx-file-excel-o:before {
  content: "\f1c3";
}
.rflx-file-image-o:before {
  content: "\f1c5";
}
.rflx-file-o:before {
  content: "\f016";
}
.rflx-file-pdf-o:before {
  content: "\f1c1";
}
.rflx-file-powerpoint-o:before {
  content: "\f1c4";
}
.rflx-file-text-o:before {
  content: "\f0f6";
}
.rflx-file-video-o:before {
  content: "\f1c8";
}
.rflx-file-word-o:before {
  content: "\f1c2";
}
.rflx-filter:before {
  content: "\e917";
}
.rflx-flag:before {
  content: "\e96d";
}
.rflx-flip:before {
  content: "\e96e";
}
.rflx-folder:before {
  content: "\e9e1";
}
.rflx-form:before {
  content: "\e918";
}
.rflx-forward:before {
  content: "\e970";
}
.rflx-fullscreen:before {
  content: "\e972";
}
.rflx-fullscreen-exit:before {
  content: "\e971";
}
.rflx-funnel:before {
  content: "\e919";
}
.rflx-globe:before {
  content: "\e9e2";
}
.rflx-grid:before {
  content: "\e973";
}
.rflx-headset:before {
  content: "\e9e3";
}
.rflx-history:before {
  content: "\e91a";
}
.rflx-home:before {
  content: "\e975";
}
.rflx-hourglass:before {
  content: "\e9e4";
}
.rflx-how-do-I:before {
  content: "\e91b";
}
.rflx-ic-baseline-format-underlined:before {
  content: "\e91c";
}
.rflx-ic-baseline-strikethrough-s:before {
  content: "\e91d";
}
.rflx-ic-round-format-list-bulleted:before {
  content: "\e91e";
}
.rflx-ic-sharp-format-list-numbered:before {
  content: "\e91f";
}
.rflx-image:before {
  content: "\e976";
}
.rflx-import:before {
  content: "\e9e5";
}
.rflx-inbox:before {
  content: "\e9e6";
}
.rflx-indicator-alert:before {
  content: "\e977";
}
.rflx-indicator-cancel:before {
  content: "\e978";
}
.rflx-indicator-check:before {
  content: "\e979";
}
.rflx-indicator-help:before {
  content: "\e97a";
}
.rflx-indicator-info:before {
  content: "\e97b";
}
.rflx-info:before {
  content: "\e921";
}
.rflx-keyboard:before {
  content: "\e9e7";
}
.rflx-launch:before {
  content: "\e922";
}
.rflx-lightbulb:before {
  content: "\e9e8";
}
.rflx-link:before {
  content: "\e97d";
}
.rflx-link-add:before {
  content: "\e97c";
}
.rflx-list-bullet:before {
  content: "\e97f";
}
.rflx-list-bullet-contained:before {
  content: "\e97e";
}
.rflx-list-details:before {
  content: "\e980";
}
.rflx-list-feedback:before {
  content: "\e981";
}
.rflx-list-form:before {
  content: "\e982";
}
.rflx-list-task:before {
  content: "\e983";
}
.rflx-location:before {
  content: "\e9ea";
}
.rflx-location-off:before {
  content: "\e9e9";
}
.rflx-lock:before {
  content: "\e985";
}
.rflx-lock-undo:before {
  content: "\e984";
}
.rflx-maintenance:before {
  content: "\e9eb";
}
.rflx-mdi-format-bold:before {
  content: "\e923";
}
.rflx-mdi-format-italic:before {
  content: "\e924";
}
.rflx-mdi-redo-variant:before {
  content: "\e925";
}
.rflx-mdi-undo-variant:before {
  content: "\e926";
}
.rflx-meal:before {
  content: "\e9ec";
}
.rflx-menu:before {
  content: "\e927";
}
.rflx-message-read:before {
  content: "\e928";
}
.rflx-mic:before {
  content: "\e9ed";
}
.rflx-minus:before {
  content: "\e987";
}
.rflx-mode-dark:before {
  content: "\e988";
}
.rflx-mode-light:before {
  content: "\e989";
}
.rflx-money:before {
  content: "\e929";
}
.rflx-more-hori:before {
  content: "\e98a";
}
.rflx-more-vert:before {
  content: "\e92a";
}
.rflx-mywork:before {
  content: "\e951";
}
.rflx-navigate:before {
  content: "\e9ee";
}
.rflx-negative:before {
  content: "\e92b";
}
.rflx-new-message:before {
  content: "\e92c";
}
.rflx-note:before {
  content: "\e98c";
}
.rflx-notification:before {
  content: "\e92d";
}
.rflx-open-new:before {
  content: "\e9f1";
}
.rflx-open-new-off:before {
  content: "\e9f0";
}
.rflx-palette:before {
  content: "\e9f2";
}
.rflx-paper:before {
  content: "\e98d";
}
.rflx-partner:before {
  content: "\e9f3";
}
.rflx-pdf:before {
  content: "\e92e";
}
.rflx-person-assign:before {
  content: "\e9f4";
}
.rflx-person-clock:before {
  content: "\e9f5";
}
.rflx-person-info:before {
  content: "\e9f6";
}
.rflx-person-manager:before {
  content: "\e9f7";
}
.rflx-person-move:before {
  content: "\e9f8";
}
.rflx-person-swap:before {
  content: "\e9f9";
}
.rflx-person-walk:before {
  content: "\e9fa";
}
.rflx-phone:before {
  content: "\e9fb";
}
.rflx-pin:before {
  content: "\e92f";
}
.rflx-pinboard:before {
  content: "\e952";
}
.rflx-plus:before {
  content: "\e98f";
}
.rflx-point-gift:before {
  content: "\e9fc";
}
.rflx-point-heart:before {
  content: "\e9fd";
}
.rflx-point-money:before {
  content: "\e9fe";
}
.rflx-point-star:before {
  content: "\e9ff";
}
.rflx-point-token:before {
  content: "\ea00";
}
.rflx-positive:before {
  content: "\e930";
}
.rflx-preview:before {
  content: "\e931";
}
.rflx-print:before {
  content: "\e990";
}
.rflx-profile:before {
  content: "\ea01";
}
.rflx-project:before {
  content: "\e932";
}
.rflx-publish:before {
  content: "\ea02";
}
.rflx-qchat:before {
  content: "\e953";
}
.rflx-qcheck:before {
  content: "\e954";
}
.rflx-qdocs:before {
  content: "\e955";
}
.rflx-qforms:before {
  content: "\e956";
}
.rflx-qnote:before {
  content: "\e94b";
}
.rflx-qnote-expired:before {
  content: "\e94e";
}
.rflx-qnotes:before {
  content: "\e957";
}
.rflx-qr:before {
  content: "\ea03";
}
.rflx-qrcode:before {
  content: "\e94a";
}
.rflx-qstar:before {
  content: "\e958";
}
.rflx-queue:before {
  content: "\e991";
}
.rflx-qvisual:before {
  content: "\e959";
}
.rflx-radio-off:before {
  content: "\e992";
}
.rflx-radio-on:before {
  content: "\e993";
}
.rflx-rar:before {
  content: "\e95a";
}
.rflx-react-add:before {
  content: "\ea04";
}
.rflx-react-angry:before {
  content: "\ea05";
}
.rflx-react-thumbsdown:before {
  content: "\ea06";
}
.rflx-react-thumbsup:before {
  content: "\ea07";
}
.rflx-reassign:before {
  content: "\e947";
}
.rflx-recall:before {
  content: "\e994";
}
.rflx-refresh:before {
  content: "\e995";
}
.rflx-reorder:before {
  content: "\e996";
}
.rflx-repeat:before {
  content: "\e997";
}
.rflx-report:before {
  content: "\e933";
}
.rflx-reset:before {
  content: "\e998";
}
.rflx-review:before {
  content: "\e934";
}
.rflx-sales:before {
  content: "\e935";
}
.rflx-save:before {
  content: "\ea08";
}
.rflx-schedule:before {
  content: "\e936";
}
.rflx-search:before {
  content: "\e937";
}
.rflx-search-advance:before {
  content: "\e949";
}
.rflx-send:before {
  content: "\e938";
}
.rflx-settings-gear:before {
  content: "\e99b";
}
.rflx-settings-tune:before {
  content: "\e99c";
}
.rflx-share:before {
  content: "\ea0b";
}
.rflx-share-file:before {
  content: "\ea0a";
}
.rflx-sign-out:before {
  content: "\e939";
}
.rflx-sm:before {
  content: "\e95b";
}
.rflx-sort:before {
  content: "\e93a";
}
.rflx-sphere:before {
  content: "\e9c9";
}
.rflx-star:before {
  content: "\e93b";
}
.rflx-start-outlined:before {
  content: "\e946";
}
.rflx-store:before {
  content: "\ea0d";
}
.rflx-store-swap:before {
  content: "\ea0c";
}
.rflx-summary:before {
  content: "\e93c";
}
.rflx-support:before {
  content: "\e93d";
}
.rflx-switch_:before {
  content: "\e9a0";
}
.rflx-sync_:before {
  content: "\e9a1";
}
.rflx-tag:before {
  content: "\e93e";
}
.rflx-task:before {
  content: "\e93f";
}
.rflx-tiers:before {
  content: "\e9a3";
}
.rflx-timecard:before {
  content: "\ea10";
}
.rflx-timecard-approve:before {
  content: "\ea0e";
}
.rflx-timecard-warning:before {
  content: "\ea0f";
}
.rflx-trash:before {
  content: "\e9a8";
}
.rflx-unclaim:before {
  content: "\e940";
}
.rflx-update:before {
  content: "\e9aa";
}
.rflx-upload:before {
  content: "\ea11";
}
.rflx-user:before {
  content: "\ea15";
}
.rflx-user-add:before {
  content: "\ea12";
}
.rflx-user-group:before {
  content: "\ea13";
}
.rflx-user-multiple:before {
  content: "\ea14";
}
.rflx-vacation:before {
  content: "\ea16";
}
.rflx-verified:before {
  content: "\ea17";
}
.rflx-video:before {
  content: "\e942";
}
.rflx-walk:before {
  content: "\e943";
}
.rflx-wifi:before {
  content: "\ea18";
}
.rflx-write:before {
  content: "\e9ac";
}
